div(md-whiteframe="1")
    md-tabs(md-border-bottom md-selected='realtyNewList.selectedTab').realty-list-layout__topbar
        md-tab(label='Аренда' ui-sref="crm.realty-new-list({operation: \'rent\', page: 1})")
        //md-tab(label='Продажа' ui-sref="crm.realty-new-list({operation: \'sale\', page: 1})")
realty-filter(filter='realtyNewList.filter' ng-if='realtyNewList.realtyCount !== undefined' roomcount='realtyNewList.roomcount' ng-model='realtyNewList.realtyCount')
slide-show(slides-list='realtyNewList.slideShowImages' isshown='realtyNewList.showSlider')
//div {{realtyNewList.filter}} фильтр

md-progress-circular(ng-if='!realtyNewList.loaded' md-diameter='150' style='position:absolute;left:0;right:0;top:500px;margin:0 auto;')
div(ng-if='realtyNewList.loaded')
    pagination-buttons(ng-if='realtyNewList.loaded' uisref='\'crm.realty-new-list\'' page='realtyNewList.page' pagescount='realtyNewList.pagesCount')
    .md-body-1(ng-if='realtyNewList.realty.length' layout='column', layout-align='space-around stretch' ng-init='realtyNewList.openPurchaseSuccess()')
        .listMy(layout='row', md-whiteframe='2').md-whiteframe-2dp.mv-8
            div().listMy_col Подано
            div().listMy_col Местоположение
            div().listMy_col Собственник
            div().listMy_col Фото
            div().listMy_col Объект
            div().listMy_col Удобства
            div().listMy_col Действия
    .md-body-1(layout='column', layout-align='space-around stretch' )
        realty-card(dir-paginate="realty in realtyNewList.realty | itemsPerPage: realtyNewList.perPage"
                    total-items="realtyNewList.realtyCount"
                    page-from='realtyNewList'
                    realty='realty'
                    slider='realtyNewList.setSliderImages(images)'
                    user='realtyNewList.user')
    pagination-buttons(ng-if='realtyNewList.loaded' uisref='\'crm.realty-new-list\'' page='realtyNewList.page' pagescount='realtyNewList.pagesCount')