//realty-new-list-filter(filter-modal-opened='realtyNewList.filterModalOpened' use-saved-filter='realtyNewList.useSavedFilter(filter)' user='realtyNewList.user' ng-if='realtyNewList.user && realtyNewList.filterModalOpened' modal='realtyNewList.filterModalOpened')
div(md-whiteframe="1")
    div(layout='row' layout-align='space-between none').ph-16
        //div realtyNewList.filterType {{realtyNewList.filterType}}
        div(flex='55' layout='row' layout-align='space-between none')
            md-input-container(flex='60').ml-16
                md-select(ng-model='realtyNewList.filterType' multiple='true' aria-label='Тип фильтра' ng-change='realtyNewList.suitRealty()')
                    md-option(ng-value='type.id' flex='100' layout='row' layout-align='space-between center' ng-repeat='type in realtyNewList.filterTypeList').realty-new-list__special-option
                        span {{type.name}} 
                        span {{type.qty || 0}}/{{type.max}}
            //md-button(md-no-ink ui-sref='crm.client-bullets.list').realty-new-list__link Купить ПУЛИ
        md-input-container(flex='25')
            md-select(ng-model='realtyNewList.filterCity' aria-label='Выбрать город')
                md-option(ng-value='0') Москва

realty-filter(refresh='realtyNewList.refresh' parent='"ocean"' filter='realtyNewList.filter' filter-type='realtyNewList.filterType' ng-if='realtyNewList.realtyCount !== undefined' roomcount='realtyNewList.roomcount' realty-count='realtyNewList.realtyCount')
slide-show(slides-list='realtyNewList.slideShowImages' isshown='realtyNewList.showSlider')
//div {{realtyNewList.filter}} фильтр

md-progress-circular(ng-if='!realtyNewList.loaded' md-diameter='150' style='position:absolute;left:0;right:0;top:280px;margin:0 auto;')
div(ng-if='realtyNewList.loaded')
    // pagination-buttons(ng-if='realtyNewList.loaded' uisref='\'crm.realty-new-list\'' page='realtyNewList.page' pagescount='realtyNewList.pagesCount')
    div(ng-if='realtyNewList.realty.length' layout='column', layout-align='space-around stretch' ng-init='realtyNewList.openPurchaseSuccess()').md-body-1
        div(layout='row', md-whiteframe='2').realty-new-list__header.mv-8
            div().realty-new-list__header-col Подано
            div().realty-new-list__header-col Местоположение
            div().realty-new-list__header-col Цена/Ремонт
            div().realty-new-list__header-col Фото
            div().realty-new-list__header-col Объект
            div().realty-new-list__header-col Удобства
            div().realty-new-list__header-col Доход
    div(layout='column', layout-align='space-around stretch' ).md-body-1
        realty-card(dir-paginate="realty in realtyNewList.realty | itemsPerPage: realtyNewList.perPage"
                    total-items="realtyNewList.realtyCount"
                    page-from='realtyNewList'
                    realty='realty'
                    slider='realtyNewList.setSliderImages(images)'
                    user='realtyNewList.user'
                    subscribtion='realtyNewList.filterTypeList')
    pagination-buttons(ng-if='realtyNewList.loaded' uisref='\'crm.realty-new-list\'' page='realtyNewList.page' pagescount='realtyNewList.pagesCount')