// Container #1 (see wireframe)
md-toolbar(layout='row')
    md-button.menu(hide-gt-md='', ng-click='layout.toggleList()')
        md-icon(md-svg-icon='menu')
    span(flex)
    span {{layout.user.emails[0].address}}
    span(flex="5")
    span(ng-click='layout.logout()', ui-sref='auth.login') logOut

// Container #2
div(flex='', layout='row')
    // Container #3
    md-sidenav.sideNav.md-whiteframe-z2(md-is-locked-open="$mdMedia('gt-md')",md-component-id="left")
        menu-toggle(section="layout.actions")
        md-button.md-raised.md-warn(ui-sref='crm.clients.add') Добавить клиента
        md-button.md-raised.md-warn(ui-sref='crm.realty.add') Добавить Объект
        md-list
            md-list-item(ng-repeat="item in layout.sideNavItems",
            ui-sref='{{item.uisref}}',
            ui-sref-active="active",
            layout="row",
            layout-align='start'
            ng-click='layout.toggleList()') {{item.name}}

    // Container #4
    md-content#content(flex="",
    md-whiteframe="4",
    layout="column",
    layout-align='space-between center')
        div#mainContainer
            ui-view
