div(layout="column",
layout-align="space-around stretch").realtyOneInfo
    div.realtyOneInfo_photo
        img(ng-src="realty_no_image.png",
        md-whiteframe="2")
    div(layout="row",
    layout-align="space-between stretch").realtyOneInfo_details

        div(layout="column",
        layout-align="none",
        md-whiteframe="2") Details

        div(md-whiteframe="2")
            md-switch.md-warn(ng-model='oneInfo[condition.id]',
            aria-label='Switch 2',
            ng-true-value="'{{condition.id}}'",
            ng-false-value="",
            ng-repeat="condition in oneInfo.dictionary.conditions")
                | {{condition.name}}

        div(md-whiteframe="2") Phonew

    div(md-whiteframe="2")
        div Closed sdelka



