loader(ng-if="outgoingCall.showLoader == true")
div(md-whiteframe='2')
    div(layout='row')
        div(flex='25').outgoing-call__inner.outgoing-call__contacts.pl-32.pv-16
            div(layout='row')
                div(flex='20' ng-click='outgoingCall.copyInfo()').mt-8
                    md-icon(md-svg-src='svg/icon-copy.svg' aria-label='Телефон' ng-class='{"outgoing-call__info-copied":outgoingCall.infoWasCopied}').cursor-pointer
                div(style='opacity:0;position:fixed;left:-100%;')
                    input(value='{{outgoingCall.realty.contacts[0].phones[0].phone}}' id="hiddenInfo")
                div(flex).mt-8.ml-16
                    div(layout='column' layout-align='space-between start').outgoing-call__header-col-1
                        div().md-title.text-bold {{outgoingCall.realty.contacts[0].phones[0].phone}}
                        div().md-title.text-bold {{outgoingCall.realty.contacts[0].name}}
        div(flex='20').outgoing-call__inner.pv-16
            div(layout='column' layout-align='space-between center').outgoing-call__header-col
                div(layout='row')
                    md-button(ng-click="outgoingCall.setResolution('later', 'notAvailable')").outgoing-call__btn-not-available.md-cyan.md-raised.ph-16 Не доступен
                div(layout='row')
                    md-button(ng-click="outgoingCall.agency('agency')").outgoing-call__btn-agency.md-block.md-amber.md-raised.ph-16 Агентство
        div(flex='35').outgoing-call__inner.pv-16
            div(layout='column' layout-align='space-between center')
                date-time-picker(ng-model="outgoingCall.datePicked" total-days = "14" start-date='outgoingCall.today')
                div
                    md-button(aria-label='Перезвонить' ng-click="outgoingCall.setResolution('later', 'laterDatePicked')").md-primary.md-raised.ph-16.outgoing-call__btn-call Перезвонить
        div(flex='20').pr-32.pv-16
            div(layout='column' layout-align='space-between center').outgoing-call__header-col
                md-button(ng-click="outgoingCall.setResolution('archive')").mr-0 Не актуально
                md-button(ng-click="outgoingCall.setResolution('analyze')").mr-0 Не согласился

div().outgoing-call__photo
    div(layout='row')
        img(ng-repeat='image in outgoingCall.realty.details.images | limitTo:2' ng-src='{{image.url}}')

div(md-whiteframe='2')
    div(md-whiteframe='1').ph-32.pv-16
        p(ng-bind-html='outgoingCall.realty.details.descr').md-body-1
    div().ph-32.pv-16
        form(ng-submit='outgoingCall.save(realtyCallForm.$valid)' name='realtyCallForm')
            div(layout='column')
                div(layout='row')
                    div(flex='90')
                        div(layout='row')
                            div(flex='50' layout='row' layout-align='space-between start')
                                md-input-container(flex).form-required
                                    label Вид операции
                                    md-select(ng-model='outgoingCall.realty.type' required)
                                        md-option(ng-value='4') Аренда
                                        md-option(ng-value='1') Продажа
                                md-input-container(flex).ml-32
                                    label Квартиры
                                    md-select(ng-model='outgoingCall.realty.kvartiri')
                                        md-option(ng-value='undefined') Квартиры

                            div(flex='30' flex-offset='10')
                                div(layout='row')
                                    md-input-container(flex='70' ng-if='outgoingCall.realty.type != 1').form-required
                                        label Срок
                                        md-select(ng-model='outgoingCall.rentDuration' required)
                                            md-option(ng-value='duration.id' ng-repeat="duration in outgoingCall.dictionary.rentDuration") {{duration.name}}
                                            //md-option(ng-value='undefined') Длительный
                                    md-input-container(flex='70' ng-if='outgoingCall.realty.type == 1').form-required
                                        label Тип здания
                                        md-select(ng-model='outgoingCall.newBuilding' required)
                                            md-option(ng-value='building.id' ng-repeat="building in outgoingCall.dictionary.isNewBuilding") {{building.name}}
                                            //md-option(ng-value='0') Вторичка
                                    md-input-container(flex='30').ml-32.form-required
                                        label Комнат
                                        md-select(ng-model='outgoingCall.realty.roomcount' required='')
                                            md-option(ng-value='room.id' ng-repeat="room in outgoingCall.dictionary.roomcount") {{room.name}}
                            
                            div(flex='20' flex-offset='10').pt-16
                                price-mask(ng-if='outgoingCall.realty.price' label='"Цена"' price='outgoingCall.realty.price' optflex='')
                                
                div(layout='row').mb-32
                    div(flex='90')
                        div(layout='row' layout-align='start end')
                            //div(flex='50')
                            //    subway-chips(ng-model='outgoingCall.realty.address.subways'
                            //    subways-embeded='outgoingCall.subwaysEmbeded'
                            //    ng-if='!outgoingCall.isLoading' flex)
                            div(flex='50')
                                h3 Метро
                                subway-choice(ng-if='outgoingCall.realty'
                                              ng-model='outgoingCall.realty.address.subway'
                                              restart='outgoingCall.newObjectRecieved')
                            //div(flex='50')
                                div Метро {{outgoingCall.realty.address.subway.name}}

                            div(flex='30' flex-offset='10')
                                div(layout='row' layout-align='space-between end').outgoing-call__metro
                                    label(flex='65').md-subhead До метро
                                    md-input-container(flex='35').ml-32.mv-0.pb-0.form-required
                                        input(ng-model='outgoingCall.realty.address.metroTime' aria-label='До метро' placeholder='' required='')
                                
                            div(flex='20' flex-offset='10')
                                div(layout='row')
                                    md-input-container(flex).mv-0.pb-0.form-required
                                        label пешком
                                        md-select(ng-model='outgoingCall.realty.address.metroTransport' required='')
                                            md-option(ng-value='transport.id',
                                            ng-repeat="transport in outgoingCall.dictionary.transport") {{transport.name}}

                div(layout='row').mt-32
                    div(flex='90')
                        div(layout='row')
                            div(flex='50')
                                realty-street(ng-if='outgoingCall.realty' ng-model='outgoingCall.realty.address.street'
                                house='outgoingCall.realty.address.house')
                            div(flex='30' flex-offset='10')
                                div(layout='row' layout-align='space-between end')
                                    md-input-container(flex='70').mv-0.pb-0.form-required
                                        label Ремонт
                                        md-select(ng-model='outgoingCall.realty.details.renovation' required='').outgoing-call__remont
                                            md-option(ng-value='renovation.id',
                                            ng-repeat="renovation in outgoingCall.dictionary.renovation") {{renovation.name}}
                                    md-input-container(flex='30').ml-32.mv-0.pb-0.form-required
                                        input(ng-model='outgoingCall.realty.square' placeholder='Площадь' required='')
                                    span().md-body-1 м#[sup 2]

                            div(flex='20' flex-offset='10')
                                div(layout='row' layout-align='space-between end')
                                    md-input-container(flex='35').mv-0.pb-0.form-required
                                        input(ng-model='outgoingCall.realty.floor' placeholder='Этаж' required='')
                                    label().md-subhead.mh-16 из
                                    md-input-container(flex='35').mv-0.pb-0.form-required
                                        input(ng-model='outgoingCall.realty.floormax' placeholder='Этажей' required='') 
                div(layout='row') 
                    div(flex='45').bg-egg.p-8
                        div(layout='column' layout-align='start start')
                            h2 Время встречи
                            date-time-picker(ng-model="outgoingCall.meetingTime" meeting='true' restart='outgoingCall.newObjectRecieved' total-days="7" start-date='outgoingCall.today')
                        div(layout='row')
                            div(flex='90')
                                div(layout='row' layout-align='start center')
                                    span().md-subhead Готов платить комиссию
                                    md-input-container().add-realty-full__comission-percent.ml-16
                                        input(type="text" ng-model='outgoingCall.realty.owner.comission')
                                    span().md-subhead.ml-16 %
                        div(layout='row')
                            div(flex='90')
                                md-checkbox(id="isExclusive" name="isExclusive" ng-model='outgoingCall.realty.realtor.isExclusive' aria-label="Checkbox 1").m-0.md-primary.md-subhead Готов на эксклюзив
                div(layout='row').mt-16
                    div(flex='55')
                        md-input-container(md-no-float layout='row').form-required
                            label Комментарий о собственнике
                            input(type="text" required='' ng-model='outgoingCall.realty.operator.comment')
                div(layout='row')
                    div(flex='55')
                        div(layout='column')
                            div(layout='row').mv-8
                                md-button(type='submit' flex ng-disabled='realtyCallForm.$invalid').outgoing-call__btn-save.md-success.md-raised.md-title.mh-0 Сохранить
                            div().mv-8
                                div().outgoing-call__num-ads.md-title.text-center {{outgoingCall.fullList}}
                                div().outgoing-call__text-ads.md-body-1.text-center объявлений в очереди


