form(md-whiteframe='1'
ng-submit='addRoleOperator.submit(addRoleFormOperator.$valid, 1)'
name='addRoleFormOperator'
layout-align='center start'
layout='column')
    md-input-container
        label Добавить оператора
        input(ng-model="addRoleOperator.emailAddOperator" type="email" required='')
    md-button(type='submit').md-raised.md-primary Добавить оператора
div(md-whiteframe='2') {{addRoleOperator.resultAdd || 'Введите email'}}

form(md-whiteframe='1'
ng-submit='addRoleOperator.submit(addRoleFormOperatorFire.$valid, 0)'
name='addRoleFormOperatorFire'
layout-align='center start'
layout='column')
    md-input-container
        label Убрать оператора
        input(ng-model="addRoleOperator.emailRemoveOperator" type="email" required='')
    md-button(type='submit').md-raised.md-primary Убрать оператора
div(md-whiteframe='2') {{addRoleOperator.resultRemove || 'Введите email'}}


div(md-whiteframe='2') Операторов - {{addRoleOperator.operators.length}}
table
    thead
        tr
            td №
            td Имя
            td Телефон
            td Email
            td(rowspan='2' colspan='6')
                table
                    tr Объектов
                    tr
                        td В океан
                        td Не доступен
                        td Агентство
                        td Перезвонить
                        td Не актуально
                        td Не согласился
    tbody
        tr(ng-repeat='operator in addRoleOperator.stat track by $index')
            td {{$index + 1}}
            td {{operator.name}}
            td {{operator.phone}}
            td {{operator.email}}
            td {{operator.objectsSaved || '0'}}
            td {{operator.objectsNotAvailable || '0'}}
            td {{operator.objectsAgency || '0'}}
            td {{operator.objectsDelayed || '0'}}
            td {{operator.objectsNoActual || '0'}}
            td {{operator.objectsSkipped || '0'}}