div(md-whiteframe='2').mv-16.ph-32.pv-16

    div(layout='row' layout-align='space-around start')
        div(flex='25')
            h3.md-headline.text-uppercase Фото {{(oneReview.realty.moderator.percent.photo || 0)}}%
        div(flex='25')
            md-button(
            ngf-select='',
            ngf-multiple='true',
            ngf-change='oneReview.uploadThumbImages($files)'
            ngf-accept="'image/*'"
            ngf-resize="{width: 248, height: 186, centerCrop: false}"
            ngf-before-model-change="oneReview.uploadNormalImages($files)"
            ng-disabled='oneReview.uploadNormalLength !== 0').md-primary.md-raised Добавить фото
            div(layout='row', layout-sm='column', layout-align='space-around' ng-if='oneReview.uploadNormalLength !== 0')
                div Загружается фото...
                md-progress-circular(md-mode='indeterminate')
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.photo').md-headline Ответ от модератора:
            p(ng-if='oneReview.realty.moderator.comment.photo').md-body-1 Не качественные.
            p(ng-if='oneReview.realty.moderator.comment.photo').md-body-1 Закажите профессиональные #[a(href='#') в 2 клика]

div(md-whiteframe='2').mv-16
    div(layout='row' layout-wrap)
        div(flex='33' ng-repeat='image in oneReview.realty.details.images')
            md-card
                md-button(ng-click='oneReview.setMainImage(image)').md-primary.md-raised.btn-set-photo.one-review-btn-set-photo Сделать главным фото
                md-button(aria-label ng-click="oneReview.removeImage(image)").btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close-white.svg')
                div.one-review-photo(style='background-image:url({{image.url}});')

div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Просмотр {{(oneReview.realty.realtor.isCheckout === undefined || oneReview.realty.realtor.isCheckout === false) ? '0%' : '100%'}}
            div().one-review-btn-group
                md-button(
                ng-class='{"md-primary": oneReview.realty.realtor.isCheckout}'
                ng-click = 'oneReview.isCheckout(true)').md-raised Была встреча
                md-button(flex-offset='10'
                ng-class='{"md-primary": oneReview.realty.realtor.isCheckout === false}'
                ng-click = 'oneReview.isCheckout(false)').md-raised Не встречались
        div(flex='50')
            h3(ng-if='!oneReview.realty.realtor.isCheckout').md-headline Ответ от модератора:
            p(ng-if='!oneReview.realty.realtor.isCheckout').md-body-1 Без просмотра сложно совершать сделки.
            p(ng-if='!oneReview.realty.realtor.isCheckout').md-body-1 Посмотрите #[a(href='#') «Как делать эффективный просмотр»]

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Качество рекламы {{(oneReview.realty.moderator.percent.description || 0)}}%
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.description').md-headline Ответ от модератора:
            p(ng-if='oneReview.realty.moderator.comment.description').md-body-1 Текст 1
            p(ng-if='oneReview.realty.moderator.comment.description').md-body-1 Вторая строка

div(md-whiteframe='2').mt-0.mb-16.ph-32.pv-16

    div(flex)
        one-review-desc(realty='oneReview.realty')
        md-button(ng-disabled='!oneReview.realty.title || !oneReview.realty.details.descr || oneReview.realty.title.length >= 65 || oneReview.realty.details.descr.length >= 2000' ng-click='oneReview.saveNewDescription(oneReview.realty._id)').md-primary.md-raised.ml-0 Сохранить только текст объявления

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Объем рекламы {{(oneReview.realty.moderator.percent.advertisement || 0)}}%
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.advertisement').md-headline Ответ от модератора:
            p(ng-if='oneReview.realty.moderator.comment.advertisement').md-body-1 Первая строка
            p(ng-if='oneReview.realty.moderator.comment.advertisement').md-body-1 Вторая строка

div(md-whiteframe='2').ph-16
    div(layout='column' layout-padding)
        h4().md-title Платные доски
        //div(layout='row')
        //    div(flex='25').md-body-1 Главные доски
        //    div(flex='75').md-body-1.one-review-board-green Размещена и обновляется
        //div(layout='row')
        //    div(flex='25').md-body-1 Остальные доски
        //    div(flex='75').md-body-1.one-review-board-red Купить эффективную рекламу
        div(layout='row')
            div(flex='25').md-body-1 GetRent.pro
            div(flex='75' ng-if='oneReview.realty.status === "sale"').md-body-1.one-review-board-green Размещено!
            div(flex='75' ng-if='oneReview.realty.status !== "sale"').md-body-1.one-review-board-red Подготовьте качественно объект!


div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Эксклюзив {{(oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isExclusive === false) ? '0%' : '100%'}}
            div().one-review-btn-group
                md-button(ng-click = 'oneReview.isExclusive(true)'
                ng-class='{"md-primary": oneReview.realty.realtor.isExclusive}').md-raised Эксклюзив
                md-button(flex-offset='10'
                ng-click = 'oneReview.isExclusive(false)'
                ng-class='{"md-primary": oneReview.realty.realtor.isExclusive  === false}').md-raised Не эксклюзив
        div(flex='50' )
            h3(ng-if='!oneReview.realty.realtor.isExclusive').md-headline Ответ от модератора:
            p(ng-if='!oneReview.realty.realtor.isExclusive').md-body-1 Пройдите интенсив
            p(ng-if='!oneReview.realty.realtor.isExclusive').md-body-1 Посмотрите #[a(href='#') «Как умело закрывать на эксклюзив за 10 минут»]

div(layout='column' layout-align='center center')
    md-button(flex='30' ng-click='oneReview.sendToModerator()'
    ng-if='!oneReview.realty.moderator.status || oneReview.realty.moderator.status === "done"').md-success.md-raised.md-title.mv-16 Отправить на проверку модератору
    md-button(flex='30' ng-click='oneReview.sendToModerator()'
    ng-if='oneReview.realty.moderator.status === "inprogress" || oneReview.realty.moderator.status === "todo"' ng-disabled = 'true').md-success.md-raised.md-title.mv-16 Объект находится на проверке