loader(ng-if="oneReview.showLoader == true")
div(md-whiteframe='2').mv-16.ph-32.pv-16

    div(layout='row' layout-align='space-around start')
        div(flex='25')
            h3.md-headline.text-uppercase Фото {{(oneReview.realty.moderator.percent.photo || 0)}}%
        div(flex='25')
            md-button(
            ngf-select='',
            ngf-multiple='true',
            ngf-change='oneReview.uploadThumbImages($files)'
            ngf-accept="'image/*'"
            ngf-resize="{width: 248, height: 186, centerCrop: false}"
            ngf-before-model-change="oneReview.uploadNormalImages($files)"
            ng-disabled='oneReview.uploadNormalLength !== 0').md-primary.md-raised Добавить фото
            div(layout='row', layout-sm='column', layout-align='space-around' ng-if='oneReview.uploadNormalLength !== 0')
                div Загружается фото...
                //md-progress-circular(md-mode='indeterminate')
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.photo').md-headline Ответ от модератора: 
            p(ng-if='oneReview.realty.moderator.comment.photo').md-body-1 {{oneReview.realty.moderator.comment.photo}}
            p(ng-if='oneReview.realty.moderator.percent.photo && oneReview.realty.moderator.percent.photo < 60').md-body-1 Закажите профессиональные #[a(href='#') в 2 клика]

div(md-whiteframe='2' ng-if='oneReview.realty.details.images && oneReview.realty.details.thumbnails').mv-16
    div(layout='row' layout-wrap ng-init='oneReview.findMainImage(oneReview.realty.image)')
        div(flex='33' ng-repeat='image in oneReview.realty.details.images')
            md-card
                md-button(ng-if='image.url == oneReview.mainImage' aria-label='Выбрать в качестве главного фото').md-success.md-raised.btn-set-photo.btn-set-photo-active Главное фото
                md-button(ng-if='image.url != oneReview.mainImage' ng-click='oneReview.setMainImage(image)' aria-label='Сделать главным фото').md-primary.md-raised.btn-set-photo.one-review-btn-set-photo Сделать главным фото
                md-button(ng-click="oneReview.removeImage(image)" aria-label='Удалить фото').btn-remove-photo
                    md-icon(md-svg-icon='svg/icon-close.svg')
                div.one-review-photo(style='background-image:url({{image.url}});')

div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row')
        div(flex='50')
            h3.md-headline.text-uppercase Просмотр {{(oneReview.realty.realtor.isCheckout === undefined || oneReview.realty.realtor.isCheckout === false) ? '0%' : '100%'}}
            div(layout='row' layout-align='space-between start' flex='65').one-review-btn-group
                md-button(ng-class='{"md-primary": oneReview.realty.realtor.isCheckout}'
                ng-click = 'oneReview.isCheckout(true)' aria-label='Была встреча').md-raised Была встреча
                md-button(ng-class='{"md-primary": oneReview.realty.realtor.isCheckout === false}'
                ng-click = 'oneReview.isCheckout(false)' aria-label='Не встречались').md-raised Не встречались
        div(flex='50' ng-if="oneReview.realty.realtor.isCheckout === false")
            h3().md-headline Ответ от модератора:
            p().md-body-1 Без просмотра сложнее совершать сделки.
            p().md-body-1 Посмотрите #[a(href='http://murigin.ru/intensiv/' target='blank') «Как делать эффективный просмотр»]

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Качество рекламы {{(oneReview.realty.moderator.percent.description || 0)}}%
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.description').md-headline Ответ от модератора:
            p(ng-if='oneReview.realty.moderator.comment.description').md-body-1 {{oneReview.realty.moderator.comment.description}}

div(md-whiteframe='2').mt-0.mb-16.ph-32.pv-16

    div(flex)
        one-review-desc(realty='oneReview.realty')
        md-button( ng-click='oneReview.saveNewDescription(oneReview.realty._id, true)' aria-label='Сохранить объявление' ng-class="{'md-primary':!oneReview.descriptionSaved,'md-success':oneReview.descriptionSaved}").md-primary.md-raised.ml-0 {{oneReview.descriptionSaved ? 'Сохранено' : 'Сохранить объявление'}}

div(md-whiteframe='2').mt-16.ph-32.pv-16
    div(layout='row' layout-align='space-around start')
        div(flex='50')
            h3.md-headline.text-uppercase Объем рекламы {{(oneReview.realty.moderator.percent.advertisement || 0)}}%
        div(flex='50')
            h3(ng-if='oneReview.realty.moderator.comment.advertisement').md-headline Ответ от модератора:
            p(ng-if='oneReview.realty.moderator.comment.advertisement').md-body-1 {{oneReview.realty.moderator.comment.advertisement}}

div(md-whiteframe='2').ph-16
    div(layout='column' layout-padding)
        h4().md-title Платные доски
        div(layout='row')
            div(flex='25').md-body-1 GetRent.pro
            div(flex='75' ng-if='oneReview.realty.status === "sale"').md-body-1.one-review-board-green Размещено!
            div(flex='75' ng-if='oneReview.realty.status !== "sale" && oneReview.realty.moderator.status === "done"').md-body-1.one-review-board-red Подготовьте качественно объект!
            div(flex='75' ng-if='!oneReview.realty.moderator.status || oneReview.realty.moderator.status === "inprogress" || oneReview.realty.moderator.status === "todo"').md-body-1.one-review-board-red Будет размещено после одобрения модератором

div(md-whiteframe='2').mv-16.ph-32.pv-16
    div(layout='row')
        div(flex='50')
            h3.md-headline.text-uppercase Эксклюзив {{(oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isExclusive === false) ? '0%' : '100%'}}
            div().one-review-btn-group
                md-button(ng-click = 'oneReview.isExclusive(true)'
                ng-class='{"md-primary": oneReview.realty.realtor.isExclusive}' aria-label='Экслюзив').md-raised Эксклюзив
                md-button(flex-offset='10'
                ng-click = 'oneReview.isExclusive(false)'
                ng-class='{"md-primary": oneReview.realty.realtor.isExclusive  === false}' aria-label='Не эксклюзив').md-raised Не эксклюзив
        div(flex='50' ng-if='oneReview.realty.realtor.isExclusive === false')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Пройдите интенсив
            p().md-body-1 Посмотрите #[a(href='http://murigin.ru/intensiv/' target='blank') «Как умело закрывать на эксклюзив за 10 минут»]

div(md-whiteframe='2').mv-16.ph-32.pv-16
    h3.md-headline.text-uppercase Аналитика объекта
    div(layout="row")
        div(flex="50")
            h3(style='color: #9e9e9e').md-title.text-normal.mv-8 Средняя цена: {{oneReview.analytics.avgPrice | price}}
            h3(style='color: #9e9e9e').md-title.text-normal.mv-8 Цена {{oneReview.analytics.comparison ? 'меньше' : 'больше'}} на {{oneReview.analytics.difference | price }}
            h3(style='color: #106cc8').md-title.text-normal.mv-8 Цена в рынке!
        div(flex='50')
            h3().md-headline Ответ от модератора:
            p().md-body-1 Пройдите интенсив
            p().md-body-1 Посмотрите #[a(href='http://murigin.ru/intensiv/' target='blank') «Как объяснить собственнику про стоимость на рынке»]
//div(md-whiteframe='2').mv-16.ph-32.pv-16
    div().border.p-32
        div().md-title.mb-32 Рыночные цены подобных объектов
        div(layout="row")
            div(flex="25")
                h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Минимальная
                h2().md-display-1.mv-8 {{clientAnalytics.client.need.price - 5000 | price}}
            div(flex="25")
                h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Средняя
                h2().md-display-1.mv-8.text-bold {{clientAnalytics.client.need.price - 2000 | price}}
                h2(style='color: #ff5722').md-display-1.mv-8.text-bold + {{5000 | price}}
            div(flex="25")
                h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Максимальная
                h2().md-display-1.mv-8 {{clientAnalytics.client.need.price + 5000 | price}}
            div(flex="25")
                h3(style='color: #9e9e9e').md-title.text-normal.text-uppercase.mv-0 Предложения
                h2(style='color: #106cc8').md-display-1.mv-8 15 объектов

div(layout='column' layout-align='center center')
    div(flex='30')
        md-button(ng-click='oneReview.sendToModerator()'
        ng-disabled='!oneReview.realty.title || !oneReview.realty.details.descr || oneReview.realty.title.length >= 65 || oneReview.realty.details.descr.length >= 2000 || oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isCheckout === undefined || !oneReview.realty.details.images.length' ng-if='!oneReview.realty.moderator.status || oneReview.realty.moderator.status === "done"' aria-label='Отправить на проверку модератору').md-success.md-raised.md-title.mv-16.big-button {{ !oneReview.realty.title || !oneReview.realty.details.descr || oneReview.realty.title.length >= 65 || oneReview.realty.details.descr.length >= 2000 || oneReview.realty.realtor.isExclusive === undefined || oneReview.realty.realtor.isCheckout === undefined || !oneReview.realty.details.images.length ? 'Подготовьте объект по всем пунктам' : 'Отправить на проверку модератору'}}
    div(flex='30' ng-if='oneReview.realty.moderator.status == "todo" || oneReview.realty.moderator.status === "inprogress"').one-review-btn-in-progress.md-title.mv-16 Объект находится на проверке