div(ng-class='{"newList__blue":realtyCard.realty.realtor.isExclusive, "newList__green": realtyCard.realty.owner.comission || realtyCard.realty.operator.meetingTime}').newList.mv-8.newList__default
    div(layout='column' ng-if='realtyCard.show == true')
    div(layout='row')

        // 1-ая колонка - ID и Новая
        div(layout='column').newList_ID.md-body-1
            div(ng-if='::realtyCard.realty.realtor.isExclusive').newList__blue-label.text-bold.pl-16.pr-8 Эксклюзив
            div(ng-if='::realtyCard.realty.owner.comission').newList__green-label.text-bold.pl-16.pr-8 Платит {{::realtyCard.realty.owner.comission}}% комиссии
            //div(ng-if='::realtyCard.realty.operator.meetingTime').newList__green-label.text-bold.pl-16.pr-8 Встреча {{::realtyCard.realty.operator.meetingTime | date:'dd.MM, HH:mm'}}
            div(ng-if='::realtyCard.realty.operator.meetingTime').newList__green-label.text-bold.pl-16.pr-8 {{::realtyCard.meetingText}}
            div(ng-if='!realtyCard.reason').pl-16.pr-8.pt-8
                div() {{::realtyCard.realty.createdAt | date:'dd.MM'}}
                div() id {{::realtyCard.realty._id | price}}
            div().pl-16.pr-8.pv-8
                div(ng-show="(realtyCard.reason == 'meeting' && realtyCard.minutes >= 5) || ((realtyCard.reason == 'exclusive' || realtyCard.reason == 'comission') && realtyCard.minutes >= 10)" ng-if='realtyCard.realty.status == \'ocean\'')
                    div().realty-card__timer-title Объект исчезнет через
                    div().realty-card__timer.mt-8
                        span(ng-if='realtyCard.reason == "exclusive" || realtyCard.reason == "comission" || realtyCard.reason == "meeting"') {{realtyCard.minutes - 10}}:
                        //span(ng-if='realtyCard.reason == "meeting"') {{realtyCard.minutes - 5}}:
                        span(ng-if='realtyCard.seconds < 10') 0
                        span {{realtyCard.seconds}}
                div(layout='column' layout-align='space-between center' ng-if = 'realtyCard.relationType === "new"')
                    span().newList__new-connections.mv-0 Новая связь
                    md-checkbox(ng-click = 'realtyCard.changeRelationType("offers", realtyCard.realty._id, realtyCard.clientId, realtyCard.relationType)'
                    ng-model='realtyCard.readden'
                    flex flex-offset='5'
                    aria-label="Checkbox 1").md-primary.md-subhead.mb-0
                div(layout='column' layout-align='space-between center' ng-if = 'realtyCard.relationType === "offers"')
                    span().mv-8 Прочитано
                    md-checkbox(ng-click = 'realtyCard.changeRelationType("new", realtyCard.realty._id, realtyCard.clientId, realtyCard.relationType)'
                    ng-true-value = 'undefined'
                    ng-model = 'realtyCard.asdf'
                    flex flex-offset='5'
                    aria-label="Checkbox 2").md-primary.md-subhead.mb-0
        md-divider

        //2-ая колонка Метро и Метро пешком
        div().newList_Address.ph-16.pv-8
            div(layout='column', layout-align='space-between')
                p.mv-0
                    //Метро
                    div().metro-name.md-body-1.mb-8
                        span.nowrap
                            span(class='metro-color-{{::realtyCard.realty.address.subway.line}}').metro-color
                            span() {{::realtyCard.realty.address.subway.name}}
                    //Пешком до метро
                    div.md-body-1.ml-8.mb-8 {{::realtyCard.realty.address.metroTime}} мин. {{::realtyCard.dictionary.transport[realtyCard.realty.address.metroTransport].name}}
        md-divider

        //3-ая колонка Цена и ремонт
        div(layout='column').newList_Price.ph-16.pv-8
            div.md-body-1.mb-8.price #[b {{::realtyCard.realty.price | price}}]
            div().md-body-1.mb-8.type-repair.nowrap {{::realtyCard.dictionary.renovation[realtyCard.realty.details.renovation].name}}
            div().md-body-1.mb-8.type-repair.nowrap {{::realtyCard.dictionary.materials[realtyCard.realty.details.materials].name}}
        md-divider

        //4-ая колонка Фото
        div(layout='column' layout-align='center center').newList_Photo
            div(ng-if='(realtyCard.realty.realtor.isExclusive || realtyCard.realty.owner.comission) && realtyCard.contacts.realtyPhone === undefined && !realtyCard.realtyIsTaken').realty-card__hidden-img
                div().realty-card__photo-text.text-center Фото объекта доступны только после добавления объекта
                //img(ng-src='realty_no_image.png' ng-init='realtyCard.checkImage(realtyCard.realty.image)')
            div(ng-if='(!realtyCard.realty.realtor.isExclusive && !realtyCard.realty.owner.comission) || realtyCard.contacts.realtyPhone !== undefined || realtyCard.realtyIsTaken' ng-click="realtyCard.showSlider( )" ng-class='{"cursor-default" : realtyCard.noPhoto }').apartment-pic
                img(ng-src='{{realtyCard.realty.image || "realty_no_image.png"}}' ng-init='realtyCard.checkImage(realtyCard.realty.image)')
                div(ng-if='!realtyCard.noPhoto').icon-zoom
                //div(ng-if='!realtyCard.noPhoto').absolute.realty-card__images-qty {{realtyCard.realty.details.images.length}}
        md-divider

        //5-ая колонка Инфо об объекте
        div().newList_Info.ph-16.pv-8
            div(layout='column' layout-align='space-between')
                div().md-body-1.mb-8 {{::realtyCard.realty.roomcount | count}}
                div(ng-if='!realtyCard.realty.realtor.isExclusive && !realtyCard.realty.owner.comission')
                    div().md-body-1.mb-8 Длительный
                    //div().md-body-1.mb-8 {{::realtyCard.dictionary.materials[realtyCard.realty.details.materials].name || 'Не известно материалы'}}
                    div().md-body-1.mb-8 {{::realtyCard.realty.floor}}/{{::realtyCard.realty.floormax}} {{::realtyCard.realty.square}}м²
        md-divider

        //6-ая колонка Телефон Риэлтора и Объявление
        div(layout='column' layout-align='space-between start' ng-if="realtyCard.realtylisttype === 'connections'").newList_contacts
            div()
                div(ng-if='realtyCard.realty.status !== "connection" && realtyCard.realty.status !== "ocean" && realtyCard.realty.status !== "taken"')
                    div().md-subhead.mb-8.nowrap #[b {{::realtyCard.realty.realtor.phone | phone}}]
                    div().md-subhead.mb-8 #[b Риелтор {{::realtyCard.realty.realtor.name}}]
                div(ng-if='realtyCard.realty.status === "connection" || realtyCard.realty.status === "ocean" || realtyCard.realty.status === "taken"')
                    div(ng-if='!realtyCard.addedToMine')
                        realty-card-purchase(ng-if='realtyCard.realty' user='realtyCard.user' contacts='realtyCard.contacts' data='realtyCard.data' realty='realtyCard.realty' parse-details='realtyCard.parseDetails' con='true')
                    div().md-subhead.mb-8 #[b Собственник {{::realtyCard.realty.contacts[0].name}}]
                div
                    md-button(ng-click="realtyCard.ngShowDescr = !realtyCard.ngShowDescr" md-no-ink).md-body-1.mh-0.p-0.btn-blue.text-uppercase Объявление

        //6.1 УДОБСТВа
        div(ng-if="realtyCard.realtylisttype !== 'connections' || (!realtyCard.realty.realtor.isExclusive && !realtyCard.realty.owner.comission)").newList_contacts.ph-16
            conditions(conditions='realtyCard.realty.details.conditions')
            div
                md-button(ng-if="realtyCard.realtylisttype === 'clientSuitauto' || realtyCard.realtylisttype === 'clientSuitexact'" ng-click="realtyCard.ngShowDescr = !realtyCard.ngShowDescr" md-no-ink).md-body-1.mh-0.p-0.btn-blue.text-uppercase Объявление
        md-divider

        //7-ая колонка Скрыть Сохранить
        div(layout='column' layout-align="space-between left").newList_Actions
            div(ng-class='{"newList__income-blue":realtyCard.realty.realtor.isExclusive,"newList__income-green":realtyCard.realty.owner.comission || realtyCard.realty.operator.meetingTime}').newList__income-default.p-8.text-center 
                span(ng-if='realtyCard.realty.type > 2') {{realtyCard.halfPrice | price}} - {{::realtyCard.realty.price | price}} &#8381;
                span(ng-if='realtyCard.realty.type < 3') {{realtyCard.salePrice | price}} &#8381;
            div(layout="column" layout-align="space-between center").ph-16.pv-8
                
                md-button(ng-click='realtyCard.changeRelationType("saved", realtyCard.realty._id, realtyCard.clientId, realtyCard.relationType)'
                ng-if='realtyCard.relationType === "new" || realtyCard.relationType === "offers"' md-no-ink).md-simple-button.realty-card__btn-save.mv-8.mh-0.p-0.text-left Сохранить
                
                md-button(ng-if="realtyCard.realtylisttype === 'connections'"
                ui-sref="crm.clients.details.email.send({realtyId:realtyCard.realty._id,clientId:realtyCard.clientId})").client-card__link.text-left.m-0.p-0 Написать клиенту
                md-button(ng-if="realtyCard.realtylisttype === 'connections'"
                    ng-click="realtyCard.returnToCallCenter(realtyCard.realty._id, $event, 'clearRelations')").md-simple-button.realty-card__btn-hide.mv-8.mh-0.p-0.text-left скрыть
                md-button(ng-if="!realtyCard.realtylisttype && realtyCard.realty.status != 'taken'" 
                ng-click="realtyCard.ngShowDescr = !realtyCard.ngShowDescr" md-no-ink).md-body-1.mh-0.p-0.btn-blue.text-uppercase Подробнее
                md-button(ng-if="!realtyCard.realtylisttype && realtyCard.realty.status == 'taken' && !realtyCard.loadingDetails" 
                ng-click="realtyCard.onShowDetails()" md-no-ink).md-body-1.mh-0.p-0.btn-blue.text-uppercase Подробнее
                div(layout='row' layout-fill)
                    div(flex='100').w-100
                        md-progress-circular(ng-if='realtyCard.loadingDetails' md-diameter='40' style='left:0;right:0;top:0px;margin:0 auto;')
                
                md-button(ng-if="realtyCard.realtylisttype === 'clientSuitauto' || realtyCard.realtylisttype === 'clientSuitexact'"
                ng-click='realtyCard.sendRealtyRelation(realtyCard.realty._id, realtyCard.user._id)').client-card__link.text-left.m-0.p-0 Предложить клиента
                md-button(ng-if="realtyCard.realtylisttype === 'clientSuitmy'"
                ng-click='realtyCard.sendRealtyRelation(realtyCard.realty._id)' md-no-ink).client-card__link.text-left.m-0.p-0 Выбрать объект


    // Подробное объявление
    div(ng-show="realtyCard.ngShowDescr" ng-class='{"newList__description-blue":realtyCard.realty.realtor.isExclusive, "newList__description-green": realtyCard.realty.owner.comission || realtyCard.realty.operator.meetingTime}').newList__description.ph-32.pb-16
        div(ng-if='realtyCard.realtyIsTaken' flex).realty-card__object-own.p-8 Объект уже принадлежит только вам
        p(ng-bind-html='realtyCard.realty.details.descr').md-body-1.realty-card__details-text
        div(ng-if="!realtyCard.realtylisttype").relative
            p 
                | #[strong Комментарий колцентра:] {{realtyCard.realty.operator.comment}}
            div(layout='row')
                realty-card-purchase(ng-if='realtyCard.realty' parse-details='realtyCard.parseDetails' user='realtyCard.user' contacts='realtyCard.contacts' data='realtyCard.data' realty='realtyCard.realty')
            div(ng-if='realtyCard.contacts.realtyPhone !== undefined')
                //p(ng-if='!realtyCard.realtyIsTaken').md-title.text-normal Объект сохранен в раздел #[a(href='justa.html') «Мои объекты»]
                p(ng-if='(realtyCard.reason == "meeting" || realtyCard.reason == "exclusive" || realtyCard.reason == "comission") && realtyCard.minutes >= 5').md-title.text-normal Собственник ждет звонка в течение&nbsp;
                    span(style='color: #f77e0b; font-weight: bold;') {{realtyCard.minutes - 5}}:
                    span(ng-if='realtyCard.seconds < 10' style='color: #f77e0b; font-weight: bold;') 0
                    span(style='color: #f77e0b; font-weight: bold;') {{realtyCard.seconds}}
                p().md-title.text-normal 1) {{realtyCard.contacts.realtyPhone}} {{realtyCard.contacts.realtyName}}
                p().md-title.text-normal 2) #[a(ng-href='{{realtyCard.parseDetails.url}}' target='blank') Посмотреть источник объявления]
                p().md-title.text-normal 3) Хотите продолжить с ним работать?
                div(layout='row' layout-align='start start').mv-16
                    md-button(aria-label='Редактировать' ng-click="realtyCard.saveCheckedRealty(realtyCard.realty._id, 'go')").md-raised.ph-16 Редактировать
                    md-button(aria-label='Остаться в океане' ng-click="realtyCard.saveCheckedRealty(realtyCard.realty._id)").md-raised.mh-16.ph-16 Остаться в океане
                    md-button(aria-label='Не подходит' ng-click="realtyCard.returnToCallCenter(realtyCard.realty._id, $event)").md-raised.mh-16.ph-16 Не подходит
        div(ng-if="realtyCard.realtylisttype == 'connections'")
            div(layout="row")
                p(flex="35").md-body-1 {{::realtyCard.realty.roomcount | count}}, длительная, Кирпичный, {{::realtyCard.realty.floor}}/{{::realtyCard.realty.floormax}}, 50м #[sup 2]
                div(flex="65" layout='row').md-body-1 
                    conditions(flex='25' conditions='realtyCard.realty.details.conditions')
            div {{::realtyCard.realty.details.descr}}
            div(layout="row")
                div(flex="90")
                div(flex="10") 
                    md-button(ng-click="realtyCard.ngShowDescr = !realtyCard.ngShowDescr") Закрыть
        div(ng-if="realtyCard.realtylisttype == 'demonstration'")
            div(layout="row")
                p(flex="35").md-body-1 {{::realtyCard.realty.roomcount | count}}, длительная, Кирпичный, {{::realtyCard.realty.floor}}/{{::realtyCard.realty.floormax}}, 50м #[sup 2]
                p(flex="65").md-body-1 Удобства
            div  {{::realtyCard.realty.details.descr}}
            div(layout="row")
                div(flex="90") Риелтор {{::realtyCard.realty.contacts[0].name}} {{::realtyCard.realty.contacts[0].phones[0].phone}}
                div(flex="10") 
                    md-button(ng-click="realtyCard.ngShowDescr = !realtyCard.ngShowDescr") Закрыть
