md-autocomplete(flex='',
required='',
ng-class='{"w-100":realtyStreet.nohouse, "m-0":realtyStreet.nohouse}'
md-input-name='autocompleteFieldStreet',
md-input-minlength='2',
md-no-cache='realtyStreet.noCache',
md-selected-item='realtyStreet.street',
md-search-text='realtyStreet.searchTextStreet',
md-items='item in realtyStreet.querySearch(realtyStreet.searchTextStreet)',
md-item-text='item.value',
md-floating-label='Улица').form-required
    md-item-template
        span(md-highlight-text='realtyStreet.searchTextStreet') {{item.value}}
    div(ng-messages='searchForm.autocompleteField.$error',
    ng-if='searchForm.autocompleteField.$touched')
        div(ng-message='required')
            | You
            b must
            | have a favorite state.
        div(ng-message='minlength') Your entry is not long enough.
        div(ng-message='maxlength') Your entry is too long.
//md-selected-item-change='realtyStreet.clearHouse()',
md-autocomplete(flex='',
required='',
ng-if='!realtyStreet.nohouse'
ng-disabled="!realtyStreet.street.value"
md-input-name='autocompleteFieldHouse',
md-input-minlength='1',
md-no-cache='realtyStreet.noCache',
md-selected-item='realtyStreet.house',
md-search-text='realtyStreet.searchTextHouse',
md-selected-item-change='realtyStreet.requestFullData(realtyStreet.house)',
md-items='item in realtyStreet.querySearchHouse(realtyStreet.searchTextHouse)',
md-item-text='item.value',
md-floating-label='Дом и корпус').form-required
    md-item-template
        span(md-highlight-text='realtyStreet.searchTextHouse') {{item.value}}
    div(ng-messages='searchForm.autocompleteField.$error',
        ng-if='(!realtyStreet.dataFull && realtyStreet.searchTextHouse && realtyStreet.street.value) || (realtyStreet.dataFull.unrestricted_value !== realtyStreet.house.unrestricted_value && realtyStreet.house.unrestricted_value !== undefined)')
        div(ng-message='required') Выбор номера дома возможен только из предложенных вариантов