div(md-whiteframe='2').realty-filter.ph-32.pv-16
    div(layout='row', layout-align="space-between center")
        div(flex='30')
            div(layout='column' layout-align='space-between none')
                md-input-container(flex)
                    label Москва
                    md-select(ng-model='realtyFilter.filter.composition', multiple='true' ng-blur='realtyFilter.suitRealty()')
                        md-option(ng-value='composition.id',
                        ng-repeat="composition in realtyFilter.dictionary.composition ") {{composition.name}}
                div(flex)
                    district-chips(ng-model="realtyFilter.filter.districts"
                    districts-embeded='realtyFilter.districtsEmbeded' flex
                    districts-changed='realtyFilter.suitRealty()')
                div(flex)
                    subway-chips(ng-model="realtyFilter.filter.subways"
                    subways-embeded='realtyFilter.subwaysEmbeded' flex
                    subways-changed='realtyFilter.suitRealty()')

        div(flex='30' flex-offset='10')
            div(layout='column' layout-align='space-between none')
                div(layout='row' layout-align='space-between end').realty-filter__rooms
                    label().mr-8 Комнат
                    md-checkbox(
                    ng-checked='realtyFilter.existsRoomcount(item)',
                    ng-repeat='item in realtyFilter.dictionary.roomcount',
                    ng-click='realtyFilter.toggleRoomcount(item)',
                    ng-blur='realtyFilter.suitRealty()'
                    md-no-ink,
                    class='md-primary') {{ item.name }}
                md-input-container()
                    label Выбрать удобства
                    md-select(ng-model='realtyFilter.filter.conditions', multiple='true' ng-blur='realtyFilter.suitRealty()')
                        md-option(ng-value='condition.id',
                        ng-repeat='condition in realtyFilter.dictionary.conditions') {{condition.name}}
                div(layout='row' layout-align='space-between end').mt-16
                    label(flex='30') До метро
                    md-input-container(flex='20').mv-0.pv-0
                        input(ng-model='realtyFilter.filter.metroTime', placeholder='минут' ng-blur='realtyFilter.suitRealty()')
                    md-input-container().mv-0.pb-0
                        label пешком
                        md-select(ng-model='realtyFilter.filter.metroTransport' required='' ng-blur='realtyFilter.suitRealty()')
                            md-option(ng-value='transport.id',
                            ng-repeat="transport in realtyFilter.dictionary.transport") {{transport.name}}

        div(flex='30' flex-offset='10')
            div(layout='column' layout-align='space-between none')
                div(layout='row' layout-align='space-between end')
                    md-input-container(flex='40')
                        label цена от
                        input(ng-model='realtyFilter.filter.priceFrom' ng-blur='realtyFilter.suitRealty()')
                    md-input-container(flex='40' flex-offset='10')
                        label цена до
                        input(ng-model='realtyFilter.filter.priceTo' ng-blur='realtyFilter.suitRealty()')
                div(layout='row' layout-align='space-between end').mv-18
                    label(flex='30') Этаж
                    md-input-container(flex='25').mv-0.pv-0
                        label от
                        input(ng-model='realtyFilter.filter.floorFrom' ng-blur='realtyFilter.suitRealty()')
                    span().hyphen
                    md-input-container(flex='25').mv-0.pv-0
                        label до
                        input(ng-model='realtyFilter.filter.floorTo' ng-blur='realtyFilter.suitRealty()')
                div(layout='row' layout-align='space-between end').mt-16
                    label().md-subhead.text-bold  {{(realtyFilter.realtyCount || realtyFilter.realtyCount===0) ? ('Показано ' + (realtyFilter.realtyCount | price) + ' объектов') : 'Ищем объекты'}}
                    md-button(aria-label='Очистить число показов' md-no-ink).md-icon-button.realty-filter__btn-clear-results.m-0.p-0
                        md-icon(md-svg-icon='svg/icon-delete-forever.svg')

