div(ng-class="{'md-whiteframe-2dp pl-32 pr-16':realtyFilter.parent == 'ocean'}").realty-filter.pt-16.pb-32
    div(layout='row', layout-align="space-between center")
        div(ng-if='realtyFilter.parent == "ocean"').realty-filter__divider
        div(ng-if='realtyFilter.parent == "ocean"').realty-filter__divider
        div(flex='30').realty-filter__col.mt-16
            div(layout='column' layout-align='space-between none')
                div(flex).mb-32
                    subway-chips(refresh='realtyFilter.refreshSublings' 
                    ng-model="realtyFilter.filter.subways"
                    subways-embeded='realtyFilter.subwaysEmbeded' flex
                    subways-changed='realtyFilter.suitRealty()')
                div(flex).mb-16
                    district-chips(refresh='realtyFilter.refreshSublings' 
                    ng-model="realtyFilter.filter.districts"
                    districts-embeded='realtyFilter.districtsEmbeded' flex
                    districts-changed='realtyFilter.suitRealty()')
                div(layout='row' layout-align='space-between end').mv-32
                    label(flex='30').no-wrap До метро
                    md-input-container(flex='20').mv-0.pv-0
                        input(ng-model='realtyFilter.filter.metroTime', type='number' placeholder='минут' ng-change='realtyFilter.suitRealty()')
                    md-input-container().mv-0.pb-0
                        md-select(ng-model='realtyFilter.filter.metroTransport' required='' ng-change='realtyFilter.suitRealty()')
                            md-option(ng-value='transport.id',
                            ng-repeat="transport in realtyFilter.dictionary.transport") {{transport.name}}
                div(layout='row' layout-align='space-between end')
                    realty-street(refresh='realtyFilter.refreshSublings' 
                                  is-filter='true' 
                                  ng-model='realtyFilter.filter.street' 
                                  house='realtyFilter.filter.house'
                                  street-changed='realtyFilter.suitRealty()')

        div(flex='30' flex-offset='10').realty-filter__col.mt-32
            div(layout='column' layout-align='space-between none')
                div(layout='row' layout-align='space-between end').realty-filter__rooms.mv-16
                    label().mr-8 Комнат
                    md-checkbox(
                    ng-checked='realtyFilter.existsRoomcount(item)',
                    ng-repeat='item in realtyFilter.dictionary.roomcount',
                    ng-click='realtyFilter.toggleRoomcount(item)',
                    ng-blur='realtyFilter.suitRealty()'
                    md-no-ink,
                    class='md-primary') {{ item.name }}
                div(layout='row' layout-align='space-between end').mv-32
                    price-mask(refresh='realtyFilter.refreshSublings' is-filter='true' ng-if='realtyFilter.filter' no-required='true' label='"цена от"' change='realtyFilter.suitRealty()' price='realtyFilter.filter.priceFrom')
                    price-mask(refresh='realtyFilter.refreshSublings' is-filter='true' ng-if='realtyFilter.filter' no-required='true' label='"цена до"' change='realtyFilter.suitRealty()' price='realtyFilter.filter.priceTo').ml-32
                md-input-container().mv-16
                    label Ремонт
                    md-select(ng-model='realtyFilter.filter.renovation', multiple='true' ng-change='realtyFilter.suitRealty()')
                        md-option(ng-value='renovation.id',
                        ng-repeat='renovation in realtyFilter.dictionary.renovation') {{renovation.name}}
                md-input-container(ng-if='realtyFilter.parent != "custom"').mt-16.mb-0
                    label Удобства
                    md-select(ng-model='realtyFilter.filter.conditions', multiple='true' ng-change='realtyFilter.suitRealty()')
                        md-option(ng-value='condition.id',
                        ng-repeat='condition in realtyFilter.dictionary.conditions') {{condition.name}}

        div(flex='30' flex-offset='10').realty-filter__col.mt-32
            div(layout='column' layout-align='start none')
                div(layout='row' layout-align='space-between end').mv-16
                    label(flex='30') Этаж
                    md-input-container(flex='25').mv-0.pv-0
                        label от
                        input(ng-model='realtyFilter.filter.floorFrom' ng-change='realtyFilter.suitRealty()')
                    span().hyphen
                    md-input-container(flex='25').mv-0.pv-0
                        label до
                        input(ng-model='realtyFilter.filter.floorTo' ng-change='realtyFilter.suitRealty()')
                div(layout='row' layout-align='space-between end').mv-32
                    label(flex='30') Площадь
                    md-input-container(flex='25').mv-0.pv-0
                        label от
                        input(ng-model='realtyFilter.filter.squareFrom' ng-change='realtyFilter.suitRealty()')
                    span().hyphen
                    md-input-container(flex='25').mv-0.pv-0
                        label до
                        input(ng-model='realtyFilter.filter.squareTo' ng-change='realtyFilter.suitRealty()')
                md-input-container(ng-if='realtyFilter.parent != "custom"')
                    label Тип дома
                    md-select(ng-model='realtyFilter.filter.materials', multiple='true' ng-change='realtyFilter.suitRealty()')
                        md-option(ng-value='material.id',
                        ng-repeat='material in realtyFilter.dictionary.materials') {{material.name}}
                div(layout='row' layout-align='space-between end').mt-16
                    label().md-subhead.text-bold {{(realtyFilter.realtyCount !== false) ? realtyFilter.realtyCount !== 0 ? ('Показано ' + (realtyFilter.realtyCount | price) + ' объектов') : 'Объекты не найдены' : 'Ищем объекты'}}
                    md-button(aria-label='Очистить число показов' ng-click='realtyFilter.clearFilter()').md-icon-button.realty-filter__btn-clear-results.m-0.p-0
                        md-icon(md-svg-icon='svg/icon-delete-forever.svg')

