md-progress-circular(ng-if='addRealtyFull.submitted' md-diameter='150' style='position:absolute;left:0;right:0;top:280px;margin:0 auto;')
md-tabs(ng-if='!addRealtyFull.submitted' md-dynamic-height md-border-bottom)
    md-tab(label='1) Расположение' md-active='addRealtyFull.activeTab == 0' ng-click='addRealtyFull.activeTab = 0')
        md-content().ph-32.pv-16
            form(novalidate name="firstForm")
                div(layout='column')
                    div(layout='row')
                        div(flex='70')
                            div(layout='row' layout-align='space-between start')
                                md-input-container(flex)
                                    md-select(ng-model='addRealtyFull.realty.type' aria-label='Выбрать тип сделки')
                                        md-option(ng-value='4') Аренда
                                        md-option(ng-value='1') Продажа
                                md-input-container(flex).ml-32
                                    md-select(ng-model='addRealtyFull.fake' aria-label='Выбрать вид жилья')
                                        md-option(ng-value='true') Квартиры
                                md-input-container(flex).ml-32
                                    md-select(ng-model='addRealtyFull.fake' aria-label='Выбрать город')
                                        md-option(ng-value='true') Москва

                    div(layout='row').mt-16
                        div(flex='70')
                            div(layout='row')
                                realty-street(ng-model='addRealtyFull.locations.street' house='addRealtyFull.locations.house'
                                dadata='addRealtyFull.locations.full' layout = 'row' flex='66').addRealtyFull-street.mv-16.zh
                                md-input-container(flex='33').ml-32.mv-16.zh
                                    label Квартира
                                    input(ng-model='addRealtyFull.locations.flat')
                                    span.bottom-label Видите только вы

                    div(layout='row')
                        div(flex='50')
                            //subway-chips(ng-model='addRealtyFull.locations.subways' subways-embeded = 'addRealtyFull.locations.embedded.subways' flex)
                            subway-choice(ng-model='addRealtyFull.locations.subway')

                    div(layout='row').mv-16
                        div(flex='45')
                            div(layout='row' layout-align='start end')
                                md-input-container(flex).mv-0.pv-0.zh
                                    input(ng-model='addRealtyFull.locations.metroTime', placeholder='минут')
                                md-input-container(flex).mv-0.ml-32.pb-0
                                    md-select(ng-model='addRealtyFull.metroTransport' aria-label='До метро')
                                        md-option(ng-value='transport.id',
                                        ng-repeat="transport in addRealtyFull.dictionary.transport") {{transport.name}}
                                           
                div(layout='row').mv-32
                    md-button(ng-click='addRealtyFull.activeTab = 1'
                    ng-disabled="firstForm.$invalid || !addRealtyFull.locations.house || !addRealtyFull.locations.street").md-primary.md-raised.mh-0 Продолжить

    md-tab(label='2) Параметры' md-active='addRealtyFull.activeTab == 1' ng-click='addRealtyFull.activeTab = 1' ng-disabled="firstForm.$invalid || !addRealtyFull.locations.house || !addRealtyFull.locations.street")
        md-content().ph-32.pv-16
            form(novalidate name="secondForm")
                div(layout='column')
                    div(layout='row').mv-16
                        div(flex='70')
                            div(layout='row' layout-align='start end')
                                md-input-container(flex='33').mv-0.form-required
                                    label Количество комнат
                                    md-select(required ng-model='addRealtyFull.realty.roomcount', ng-change="addRealtyFull.changeRoomCount()")
                                        md-option(ng-value='roomcount.id',
                                        ng-repeat="roomcount in addRealtyFull.dictionary.roomcountBig") {{roomcount.name}}
                                //div(flex='33').ml-32
                                    md-checkbox(aria-label='Checkbox 1' md-no-ink ng-model='addRealtyFull.realty.details.apartaments').md-primary.md-subhead.mb-0 Апартаменты
                                //div(flex='33').ml-32
                                    md-checkbox(aria-label='Checkbox 1' md-no-ink ng-model='addRealtyFull.realty.details.penthouse').md-primary.md-subhead.mb-0 Пентхаус

                    div(layout='row').mv-16
                        div(flex='45')
                            div(layout='row' layout-align='start center')
                                md-input-container(flex).mv-0.form-required.zh
                                    input(required name='floor' type='number' ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.floor' placeholder='Этаж')
                                    span(ng-show='secondForm.floor.$touched && secondForm.floor.$invalid').has-error {{secondForm.floor.$viewValue.length == 0 ? 'Необходимо заполнить' : 'Только цифры'}}
                                    span(ng-show='addRealtyFull.realty.floor > addRealtyFull.realty.floormax').has-error.nowrap Этаж выше, чем указано в доме.
                                md-input-container(flex).mv-0.ml-32.form-required.zh
                                    input(required name='floormax' type='number' ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.floormax' placeholder='Этажей в доме')
                                    span(ng-show='secondForm.floormax.$touched && secondForm.floormax.$invalid').has-error {{secondForm.floormax.$viewValue.length == 0 ? 'Необходимо заполнить' : 'Только цифры'}}
                    div(layout='row').mv-16
                        div(flex='70')
                            div(layout='row' layout-align='start center')
                                md-input-container(flex).mv-0.form-required.zh
                                    input(required name='square' type='number' ng-model='addRealtyFull.realty.square' placeholder='Общая площадь м²')
                                    //span(ng-show='secondForm.square.$viewValue.length > 0 && secondForm.square.$touched && secondForm.square.$invalid').has-error Только цифры или запятая
                                    span(ng-show='addRealtyFull.realty.square < 10 && !secondForm.square.$invalid').has-error.nowrap Площадь меньше 10 м²
                                md-input-container(flex).mv-0.ml-32.zh
                                    input(type='number' name='livingSquare' ng-model='addRealtyFull.realty.details.livingSquare' placeholder='Жилая площадь м²')
                                    //span(ng-show='secondForm.livingSquare.$touched && secondForm.livingSquare.$invalid').has-error Только цифры или запятая
                                    span(ng-show='addRealtyFull.realty.details.livingSquare + addRealtyFull.realty.details.kitchenSquare > addRealtyFull.realty.square && secondForm.livingSquare.$touched && secondForm.kitchenSquare.$touched').has-error.nowrap Сумма площадей больше общей площади
                                md-input-container(flex).mv-0.ml-32.zh
                                    input(type='number' name='kitchenSquare' ng-model='addRealtyFull.realty.details.kitchenSquare' placeholder='Кухня м²')
                                    //span(ng-show='secondForm.kitchenSquare.$touched && secondForm.kitchenSquare.$invalid').has-error Только цифры или запятая
                    div(layout='row').mv-16
                        div(flex='70')
                            div(layout='row')
                                md-input-container(flex).mv-0.form-required
                                    label Лоджия
                                    md-select(required ng-model='addRealtyFull.realty.details.loggia')
                                        md-option(ng-value='balcony.id',
                                        ng-repeat="balcony in addRealtyFull.dictionary.balcony ") {{balcony.name}}
                                md-input-container(flex).mv-0.ml-32.form-required
                                    label Балкон
                                    md-select(required ng-model='addRealtyFull.realty.details.balcony')
                                        md-option(ng-value='balcony.id',
                                        ng-repeat="balcony in addRealtyFull.dictionary.balcony ") {{balcony.name}}
                                md-input-container(flex).mv-0.ml-32.form-required
                                    label Вид из окон
                                    md-select(required ng-model='addRealtyFull.realty.details.windowView')
                                        md-option(ng-value='windowView.id',
                                        ng-repeat="windowView in addRealtyFull.dictionary.windowView ") {{windowView.name}}

                    div(layout='row').mv-16
                        div(flex='45')
                            div(layout='row')
                                md-input-container(flex).mv-0.form-required
                                    label Ремонт
                                    md-select(required ng-model='addRealtyFull.realty.details.renovation')
                                        md-option(ng-value='renovation.id',
                                        ng-repeat="renovation in addRealtyFull.dictionary.renovation ") {{renovation.name}}
                                md-input-container(flex).mv-0.ml-32.form-required
                                    label Тип дома
                                    md-select(required ng-model='addRealtyFull.realty.details.materials')
                                        md-option(ng-value='materials.id',
                                        ng-repeat="materials in addRealtyFull.dictionary.materials ") {{materials.name}}

                    div(layout='row').mv-16
                        div(flex='45')
                            div(layout='row')
                                md-input-container(flex).mv-0.form-required
                                    label Пассажирских лифтов
                                    md-select(required ng-model='addRealtyFull.realty.details.elevator')
                                        md-option(ng-value='elevator.id',
                                        ng-repeat="elevator in addRealtyFull.dictionary.elevator ") {{elevator.name}}
                                md-input-container(flex).mv-0.ml-32.form-required
                                    label Грузовых лифтов
                                    md-select(required ng-model='addRealtyFull.realty.details.elevatorBig')
                                        md-option(ng-value='elevator.id',
                                        ng-repeat="elevator in addRealtyFull.dictionary.elevator ") {{elevator.name}}

                    div(layout='row' ng-if='addRealtyFull.realty.type != 1').mv-16
                        div(flex='70')
                            div(layout='row' layout-wrap)
                                realty-conditions(ng-model='addRealtyFull.realty.details.conditions' checkbox="true")

                    div(layout='row').mv-32
                        md-button(ng-click='addRealtyFull.activeTab = 2'
                        ng-disabled="firstForm.$invalid || secondForm.$invalid || addRealtyFull.realty.floor > addRealtyFull.realty.floormax || addRealtyFull.realty.square < 10 || addRealtyFull.realty.details.livingSquare + addRealtyFull.realty.details.kitchenSquare > addRealtyFull.realty.square"
                        ).md-primary.md-raised.mh-0 Продолжить
                        md-button(md-no-ink ng-click='addRealtyFull.activeTab = 0').md-primary.md-body-1.ml-32 Вернуться на шаг назад

    md-tab(label='3) Стоимость' md-active='addRealtyFull.activeTab == 2' ng-click='addRealtyFull.activeTab = 2' ng-disabled="firstForm.$invalid || secondForm.$invalid || addRealtyFull.realty.floor > addRealtyFull.realty.floormax || addRealtyFull.realty.square < 10 || addRealtyFull.realty.details.livingSquare + addRealtyFull.realty.details.kitchenSquare > addRealtyFull.realty.square") 
        md-content().ph-32.pv-16
            form(novalidate name="thirdForm")

                div(layout='column')
                    div(layout='row').mv-16
                        div(flex='45')
                            div(layout='row' layout-align='space-between start')
                                md-input-container(flex).mv-0.zh.form-required
                                    label Имя собственника
                                    input(ng-model='addRealtyFull.realty.contacts[0].name', required='')
                                phone-mask(layout='row' flex ng-if='addRealtyFull.realty' label='"Телефон собственника"' phone='addRealtyFull.realty.contacts[0].phones[0].phone').ml-32.zh
                    div(layout='row')
                        div(flex='45').mv-16
                            div(layout='row' layout-align='space-between start')
                                price-mask(ng-if='addRealtyFull.realty' label='"Цена"' price='addRealtyFull.realty.price' optflex='' flex)
                                md-input-container(flex ng-if='addRealtyFull.realty.type != 1').mv-0.ml-32.form-required
                                    md-select(required ng-model='addRealtyFull.realty.details.composition' multiple='true' placeholder='Состав съемщиков')
                                        md-option(ng-value="position.id" ng-repeat='position in addRealtyFull.dictionary.composition') {{position.name}}
                   
                    div(layout='row' ng-if='addRealtyFull.realty.type != 1')
                        div(flex='45').mv-16
                            div(layout='row' layout-align='space-between start')
                                price-mask(ng-if='addRealtyFull.realty' label='"Сумма залога"' price='addRealtyFull.realty.details.depositSum' optflex='' flex='45')
                                div(layout='row' flex='50' flex-offset='5' ng-if='addRealtyFull.realty.details.depositSum')
                                    p Разбивается на
                                    md-input-container(flex).mv-0.ml-8
                                        md-select(required ng-model='addRealtyFull.realty.details.depositTime' placeholder='2 мес.')
                                            md-option(ng-value="time.id" ng-repeat='time in addRealtyFull.dictionary.depositTime') {{time.name}}
                   
                    div(ng-if='addRealtyFull.realty').mt-16
                        div(layout='row' layout-align='start center' ng-init='addRealtyFull.realty.comissionLoyal = true')
                            md-checkbox(id="comissionloyal" name="comissionloyal" ng-model='addRealtyFull.realty.comissionLoyal' aria-label="Checkbox 1").m-0.md-primary.md-subhead {{ addRealtyFull.realty.comissionLoyal ? 'Готов' : 'Не готов'}} платить комиссию
                            md-input-container(md-no-float layout='row' ng-class='{ "vHidden" : !addRealtyFull.realty.comissionLoyal }').add-realty-full__comission-percent.ml-8
                                input(type="text" ng-model='addRealtyFull.realty.comission')
                            span(ng-if ='addRealtyFull.realty.comissionLoyal').md-subhead %
                    
                    div().mt-32
                        p().md-subhead.add-realty-full-text Какой процент стоимости аренды вы хотите получить?
                        p().md-subhead.add-realty-full-text (Будет показано только агентам)

                    div(layout='row')
                        div(flex='50').mv-16
                            div(layout='row' layout-align='space-between start')
                                md-input-container(flex='45').mv-0.zh
                                    input(ng-model='addRealtyFull.realty.realtor.clientCommission' placeholder='От своего клиента')
                                md-input-container(flex='55').mv-0.ml-32.zh
                                    input(ng-model='addRealtyFull.realty.realtor.partnerpercent' placeholder='От клиента другого агента')

                    div(layout='row').mv-32
                        md-button(ng-click='addRealtyFull.submit()' ng-disabled="firstForm.$invalid || secondForm.$invalid || thirdForm.$invalid").md-primary.md-raised.md-title.mh-0 Добавить объект
                        md-button(md-no-ink ng-click='addRealtyFull.activeTab = 1').md-primary.md-body-1.ml-32 Вернуться на шаг назад

