div {{addRealtyFull.realty.street.value}}
div {{addRealtyFull.realty.house.value}}
div {{addRealtyFull.realty.house.data.city_district}}
div {{addRealtyFull.realty}}
md-tabs(md-dynamic-height md-border-bottom)
    md-tab(label='1) Расположение' md-active='addRealtyFull.activeTab == 0' ng-click='addRealtyFull.activeTab = 0')
        md-content().ph-32.pv-16
            form(novalidate name="firstForm")
                div(layout='column')
                    div(layout="column" layout-align="space-around start")
                        div Тип сделки : Аренда
                        div Недвижимость : Квартиры
                        div Город : Москва
                    div(layout='row')
                        realty-street(ng-model='addRealtyFull.locations.street' house='addRealtyFull.locations.house'
                        dadata='addRealtyFull.locations.full' layout = 'row')
                    div(layout="row" layout-align="space-around center")
                        subway-chips(ng-model='addRealtyFull.locations.subways'
                        subways-embeded = 'addRealtyFull.locations.embedded.subways')
                        district-chips(ng-model='addRealtyFull.locations.details.districts'
                        districts-embeded = 'addRealtyFull.locations.details.embedded.districts')
                    div(layout='row')
                        div До метро 15 минут пешком

    md-tab(label='2) Параметры' md-active='addRealtyFull.activeTab == 1' ng-click='addRealtyFull.activeTab = 1' ng-disabled='firstForm.$invalid')
        md-content().ph-32.pv-16
            form(novalidate name="secondForm")
                div(layout='column')
                    div(layout='row')
                        div(flex='80')
                            div(layout='row' layout-align='start end').mv-16
                                md-input-container(flex).mv-0.form-required
                                    label Количество комнат
                                    md-select(required ng-model='addRealtyFull.realty.details.roomcount')
                                        md-option(ng-value='roomcount.id',
                                        ng-repeat="roomcount in addRealtyFull.dictionary.roomcountBig") {{roomcount.name}}
                                div(flex='33' flex-offset='5')
                                    md-checkbox(aria-label='Checkbox 1' md-no-ink).md-primary.md-subhead.mb-0 Апартаменты
                                div(flex='33')
                                    md-checkbox(aria-label='Checkbox 1' md-no-ink).md-primary.md-subhead.mb-0 Пентхаус

                    div(layout='row')
                        div(flex='50')
                            div(layout='row' layout-align='start center').mv-16
                                md-input-container(flex).mv-0.form-required
                                    input(required ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.floor' placeholder='Этаж')
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    input(required ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.floormax' placeholder='Этажей в доме')
                    div(layout='row')
                        div(flex='80')
                            div(layout='row' layout-align='start center').mv-16
                                md-input-container(flex).mv-0.form-required
                                    input(required ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.square' placeholder='Общая площадь м²')
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    input(required ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.details.livingSquare' placeholder='Жилая площадь м²')
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    input(required ng-pattern="/^[0-9]{1,}$/" ng-model='addRealtyFull.realty.details.kitchenSquare' placeholder='Кухня м²')

                    div(layout='row')
                        div(flex='80')
                            div(layout='row').mv-16
                                md-input-container(flex).mv-0.form-required
                                    label Лоджия
                                    md-select(required ng-model='addRealtyFull.realty.details.loggia')
                                        md-option(ng-value='balcony.id',
                                        ng-repeat="balcony in addRealtyFull.dictionary.balcony ") {{balcony.name}}
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    label Балкон
                                    md-select(required ng-model='addRealtyFull.realty.details.balcony')
                                        md-option(ng-value='balcony.id',
                                        ng-repeat="balcony in addRealtyFull.dictionary.balcony ") {{balcony.name}}
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    label Окна выходят на
                                    md-select(required ng-model='addRealtyFull.realty.details.windowView')
                                        md-option(ng-value='windowView.id',
                                        ng-repeat="windowView in addRealtyFull.dictionary.windowView ") {{windowView.name}}

                    div(layout='row')
                        div(flex='50')
                            div(layout='row').mv-16
                                md-input-container(flex).mv-0.form-required
                                    label Ремонт
                                    md-select(required ng-model='addRealtyFull.realty.details.renovation')
                                        md-option(ng-value='renovation.id',
                                        ng-repeat="renovation in addRealtyFull.dictionary.renovation ") {{renovation.name}}
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    label Тип дома
                                    md-select(required ng-model='addRealtyFull.realty.details.materials')
                                        md-option(ng-value='materials.id',
                                        ng-repeat="materials in addRealtyFull.dictionary.materials ") {{materials.name}}
                            div(layout='row').mv-16
                                md-input-container(flex).mv-0.form-required
                                    label Пассажирских лифтов
                                    md-select(required ng-model='addRealtyFull.realty.details.elevator')
                                        md-option(ng-value='elevator.id',
                                        ng-repeat="elevator in addRealtyFull.dictionary.elevator ") {{elevator.name}}
                                md-input-container(flex flex-offset='5').mv-0.form-required
                                    label Грузовых лифтов
                                    md-select(required ng-model='addRealtyFull.realty.details.elevatorBig')
                                        md-option(ng-value='elevator.id',
                                        ng-repeat="elevator in addRealtyFull.dictionary.elevator ") {{elevator.name}}

                    div(layout='row').mv-16
                        div(flex='60')
                            div(layout='row' layout-wrap)
                                realty-conditions(ng-model='addRealtyFull.realty.details.conditions' checkbox="true")

    md-tab(label='3) Стоимость' md-active='addRealtyFull.activeTab == 2' ng-click='addRealtyFull.activeTab = 2' ng-disabled='firstForm.$invalid || secondForm.$invalid || false')
        md-content().ph-32.pv-16
            form(novalidate name="thirdForm")
                div(layout='column')
                    div(layout='row')
                        md-input-container(flex).mv-0.form-required
                            input(required ng-model='addRealtyFull.realty.price' placeholder='Цена')
                        md-input-container(flex).mv-0.form-required
                            md-select(required ng-model='addRealtyFull.realty.details.composition' multiple='true' placeholder='Состав съемщиков')
                                md-option(ng-value="position.id" ng-repeat='position in addRealtyFull.dictionary.composition') {{position.name}}
                    h3.md-bold.md-title Какой процент стоимости вы хотите получать
                    div(layout='row')
                        md-input-container(flex).mv-0.form-required
                            input(required ng-model='addRealtyFull.realty.realtor.clientpercent' placeholder='От прямого клиента')
                        md-input-container(flex).mv-0.form-required
                            input(required ng-model='addRealtyFull.realty.realtor.partnerpercent' placeholder='От клиента другого агента')
                        
            

div(layout='row').mv-16.mh-32
    md-button(ng-click='addRealtyFull.submit(true)' ng-if="addRealtyFull.activeTab == 2" ng-disabled="firstForm.$invalid || secondForm.$invalid || thirdForm.$invalid").md-success.md-raised.md-title Добавить клиента!
    md-button(ng-click='addRealtyFull.activeTab = addRealtyFull.activeTab + 1' ng-if="addRealtyFull.activeTab != 2" ng-disabled="(firstForm.$invalid && addRealtyFull.activeTab == 0) || (secondForm.$invalid && addRealtyFull.activeTab == 1) || (thirdForm.$invalid && addRealtyFull.activeTab == 2) || (fourthForm.$invalid && addRealtyFull.activeTab == 3)").md-primart.md-raised Продолжить {{addRealtyFull.activeTab}}, 1:{{firstForm.$invalid}}, 2:{{secondForm.$invalid}}, 3:{{thirdForm.$invalid}}, 
    md-button(md-no-ink flex-offset='10' ng-click='addRealtyFull.activeTab = addRealtyFull.activeTab - 1' ng-if="addRealtyFull.activeTab != 0").md-primary.md-body-1 Вернуться на шаг назад