//realty-filter(filter='clientSuitExact.filter'
            roomcount='clientSuitExact.roomcount'
            ng-if='clientSuitExact.selectedTab == 1')
md-progress-circular(ng-if='!clientSuitExact.loaded' md-diameter='150' style='position:absolute;left:0;right:0;top:280px;margin:0 auto;')
div(ng-if='clientSuitExact.loaded')
    slide-show(slides-list='clientSuitExact.slideShowImages' isshown='clientSuitExact.showSlider')
    //div {{clientSuitExact.filter}} фильтр
    //div {{clientSuitExact.realtyCount}} объектов найдено

    .md-body-1(layout='column', layout-align='space-around stretch')
        realty-card(dir-paginate="realty in clientSuitExact.realty | itemsPerPage: clientSuitExact.perPage" 
                    total-items="clientSuitExact.realtyCount"
                    realtylisttype='{{"clientSuit" + clientSuitExact.stateParams.suitby}}'
                    realty='realty'
                    client-id = 'clientSuitExact.client._id'
                    slider='clientSuitExact.setSliderImages(images)')
                    
    pagination-buttons(ng-if='clientSuitExact.pagesCount' uisref='\'crm.clients.details.suit\'' page='clientSuitExact.page' pagescount='clientSuitExact.pagesCount')