md-input-container(flex ng-class="{ 'has-error' : phoneMask.visualPhone.length > 1 && phoneMask.visualPhone.length < 17}").md-block.mv-0.form-required.hide-count
    label {{phoneMask.label}}
    input(ng-model='phoneMask.visualPhone',
    required='',
    maxlength="17",
    ng-init="phoneMask.ngOnInit()",
    ng-keydown="phoneMask.filterPhoneKeyDown()",
    ng-focus="phoneMask.filterPhoneFocus()",
    md-minlength='17',
    md-maxlength='17')