slide-show(slides-list='clientRelations.slideShowImages' isshown='clientRelations.showSlider')

div(md-whiteframe='1' ng-if='clientRelations.realtyNew.length || clientRelations.realtyOffers.length' style='background-color: white; border-bottom: 2px solid #42a5f5').mt-8.p-16
    div(layout='row')
        div(flex='45')
            div(style='color: #2196f3').md-subhead.text-uppercase Предложение от партнеров
        div(flex='55')
            //p().md-body-1.text-bold.text-justify.mt-0 Директ сообщение при звонке: (чтобы риелтор вас понял с первого раза)
            //p().md-body-1.text-justify
            //    | Здравствуйте (имя риелтора)! Я звоню по вашему предложению в CRM миринедвижимость, а именно по объекту Суздальская 12, продолжаете разговор...

div().mt-8    
    realty-card(ng-repeat='realty in clientRelations.realtyNew'
    realty='realty'
    realtylisttype="connections"
    slider='clientRelations.setSliderImages(images)' relation-type='new'
    client-id='clientRelations.client._id'
    user='clientRelations.user')

    realty-card(ng-repeat='realty in clientRelations.realtyOffers'
    realty='realty'
    realtylisttype="connections"
    slider='clientRelations.setSliderImages(images)'
    client-id='clientRelations.client._id'
    relation-type= 'offers'
    user='clientRelations.user')



div(md-whiteframe='1' style='background-color: white; border-bottom: 2px solid #42a5f5').mv-8.p-16
    div(layout='row')
        div(flex='45')
            div(style='color: #2196f3').md-subhead.text-uppercase Выбранные объекты
        div(flex='55')
            //p().md-body-1.text-bold.text-justify.mt-0 Директ сообщение при звонке: (чтобы риелтор вас понял с первого раза)
            //p().md-body-1.text-justify
            //    | Здравствуйте (имя риелтора)! Я звоню по объекту Суздальская 12, для моих клиентов CRM миринедвижимость мне подобрала ваш объект продолжаете разговор...
div().mv-8
    realty-card(ng-repeat='realty in clientRelations.realtySaved'
    realty='realty'
    realtylisttype="connections"
    slider='clientRelations.setSliderImages(images)'
    client-id='clientRelations.client._id'
    relation-type= 'saved'
    user='clientRelations.user')

    realty-card(ng-repeat='realty in clientRelations.realtyMy'
    realty='realty'
    realtylisttype="connections"
    slider='clientRelations.setSliderImages(images)'
    client-id='clientRelations.client._id'
    relation-type= 'my'
    user='clientRelations.user')