div(ng-if="clientInfoEdit.show")
    div.modal__wrapper(ng-click="clientInfoEdit.show = false")
    div.modal__block(layout="column" ng-init="clientInfoEdit.ngOnInit()")
        md-toolbar
            div().md-toolbar-tools 
                h3().md-title.mv-0 Изменение параметров клиента
                span(flex)
                md-button(ng-click="clientInfoEdit.show = false" aria-label='Закрыть').md-icon-button
                    md-icon(md-svg-icon='svg/icon-close.svg')

        div.ph-32.modal__changes(layout="row" flex="90")
            div(layout='row' layout-align='space-between start' layout-fill)
                div(flex='25')
                    h2 Особенности клиента
                    div(layout='column')
                        md-input-container(flex).md-block.mt-16
                            label Цена:
                            input(ng-model='clientInfoEdit.client.need.price'
                                  ng-price-filter,
                                  ng-keypress="clientInfoEdit.client.need.price = ' '+this.clientInfoEdit.client.need.price"
                                  ng-init="clientInfoEdit.ngOnInit(clientInfoEdit.client.need.price)")
                        div(layout='row')
                            md-checkbox(id="comissionloyal" name="comissionloyal" ng-model='clientInfoEdit.client.comissionLoyal' flex-offset='5' aria-label="Checkbox 1").md-primary.md-subhead {{ clientInfoEdit.client.comissionLoyal ? 'Готов' : 'Не готов'}} платить комиссию
                        div(layout='row' layout-align='start center')
                            md-input-container(md-no-float layout='row' ng-if='clientInfoEdit.client.comissionLoyal').add-client-full__comission-percent.ml-8.mv-0.zh
                                input(type="text" ng-model='clientInfoEdit.client.comission')
                            span(ng-if='clientInfoEdit.client.comissionLoyal').md-subhead %
                        div().mv-16
                            div().md-subhead Актуально с 
                            md-datepicker(ng-model='clientInfoEdit.client.searchEndDate', md-placeholder='' flex)
                        div().mv-16
                            div().md-subhead В поиске с 
                            md-datepicker(ng-model='clientInfoEdit.client.searchStartDate', md-placeholder='Enter date' flex)

                div(flex='25')
                    h2 Объект
                    div(layout='row')
                        div().vertical-divider-1
                        div(layout='row' layout-fill)
                            div(flex)
                                md-input-container(flex).md-block.form-required
                                    label Количество комнат
                                    md-select(required ng-model='clientInfoEdit.client.need.roomcount', multiple='true' aria-label='Выбрать количество комнат').md-select-multi-single
                                        md-option(ng-value='roomcount.id',
                                        ng-repeat="roomcount in clientInfoEdit.dictionary.roomcountBig") {{roomcount.name}}  
                                md-input-container(flex).md-block.form-required.mv-32
                                    label Ремонт
                                    md-select(required ng-model='clientInfoEdit.client.need.renovation', multiple='true' aria-label='Выбрать тип ремонта')
                                        md-option(ng-value='renovation.id',
                                        ng-repeat="renovation in clientInfoEdit.dictionary.renovation") {{renovation.name}}
                                md-input-container().mv-16.form-required
                                    label Состав съемщиков
                                    md-select(required ng-model='clientInfoEdit.client.composition' aria-label='Выбрать состав съемщиков')
                                        md-option(ng-value='composition.id',
                                        ng-repeat="composition in clientInfoEdit.dictionary.composition ") {{composition.name}}
                                    
                div(flex='25')
                    h2 Метро
                    div(layout='row')
                        div().vertical-divider-2
                        div(layout='row' layout-fill)
                            div(flex)
                                subway-chips(ng-model='clientInfoEdit.client.need.subways' subways-embeded='clientInfoEdit.client.need.embedded.subways' flex
                                ng-if='clientInfoEdit.client.need.subways')
                                div(layout='row' layout-align='start end').mv-32
                                    md-input-container(flex).mv-0.pv-0.zh
                                        input(ng-model='clientInfoEdit.client.need.metroTime', placeholder='минут')
                                    md-input-container(flex).mv-0.ml-32.pb-0
                                        md-select(ng-model='clientInfoEdit.client.need.metroTransport' aria-label='До метро')
                                            md-option(ng-value='transport.id',
                                            ng-repeat="transport in clientInfoEdit.dictionary.transport") {{transport.name}}
                    h2 Что важно клиенту
                    md-input-container().mv-0
                        textarea(ng-model='clientInfoEdit.client.note', md-maxlength='300', rows='3', md-select-on-focus='' )
                        
        div(flex='10').mt-16.ph-32
            div(layout='row' layout-align='center center')
                md-button.md-raised.md-primary(ng-click="clientInfoEdit.onChangeRealty(clientInfoEdit.client._id)") Сохранить
                md-button.md-raised.md-danger(ng-click="clientInfoEdit.show = false") Закрыть
