slide-show(slides-list='clientConnections.slideShowImages' isshown='clientConnections.showSlider')
div(md-whiteframe="1").mt-8
    md-tabs(md-border-bottom md-selected='0').realty-list-layout__topbar
        md-tab(label='Предложения от партнеров')

    div
        realty-card(ng-repeat='realty in clientConnections.realtyNew'
        realty='realty'
        realtylisttype="'connections'"
        slider='clientConnections.setSliderImages(images)' is-new= 'true')
    div
        realty-card(ng-repeat='realty in clientConnections.realtyOffers'
        realty='realty'
        realtylisttype="'connections'"
        slider='clientConnections.setSliderImages(images)')

div(md-whiteframe="1")
    md-tabs(md-border-bottom md-selected='0').realty-list-layout__topbar
        md-tab(label='Выбранные клиенты')

    div
        realty-card(ng-repeat='realty in clientConnections.realtySaved'
                    realty='realty'
                    realtylisttype="'connections'"
                    slider='clientConnections.setSliderImages(images)')
    div
        realty-card(ng-repeat='realty in clientConnections.realtyMy'
                    realty='realty'
                    realtylisttype="'connections'"
                    slider='clientConnections.setSliderImages(images)')
    
    