slide-show(slides-list='clientConnections.slideShowImages' isshown='clientConnections.showSlider')
div(md-whiteframe="1").mt-8
    md-tabs(md-border-bottom md-selected='0').realty-list-layout__topbar
        md-tab(label='Предложения от партнеров')

    div
        realty-card(ng-repeat='realty in clientConnections.realtyNew'
        realty='realty'
        realtylisttype="'connections'"
        slider='clientConnections.setSliderImages(images)' relation-type= 'new'
        client-id='clientConnections.client._id')
    div
        realty-card(ng-repeat='realty in clientConnections.realtyOffers'
        realty='realty'
        realtylisttype="'connections'"
        slider='clientConnections.setSliderImages(images)'
        client-id='clientConnections.client._id'
        relation-type= 'offers')

div(md-whiteframe="1")
    md-tabs(md-border-bottom md-selected='0').realty-list-layout__topbar
        md-tab(label='Выбранные объекты')

    div
        realty-card(ng-repeat='realty in clientConnections.realtySaved'
                    realty='realty'
                    realtylisttype="'connections'"
                    slider='clientConnections.setSliderImages(images)'
                    client-id='clientConnections.client._id'
                    relation-type= 'saved')
    div
        realty-card(ng-repeat='realty in clientConnections.realtyMy'
                    realty='realty'
                    realtylisttype="'connections'"
                    slider='clientConnections.setSliderImages(images)'
                    client-id='clientConnections.client._id'
                    relation-type= 'my')
    
    