md-chips(ng-model='disctrictChips.districtsAreaInForm',
md-autocomplete-snap='',
md-require-match='true',
md-on-add='disctrictChips.changeChips()',
md-on-remove='disctrictChips.changeChips()')
    md-autocomplete(md-selected-item='disctrictChips.selectedItem',
    md-search-text='disctrictChips.searchText',
    md-search-text-change='disctrictChips.searchTextChange(disctrictChips.searchText)',
    md-items='item in disctrictChips.districtsAreaSuggestionList',
    placeholder='Район или округ',
    md-no-cache='true')
        span(md-highlight-text='disctrictChips.searchText') {{item.name}}
        md-not-found
            | Не найдено "{{disctrictChips.searchText}}"
    md-chip-template
        span {{$chip.name}}
